@import "tailwindcss";

/* Custom scrollbar for both X and Y */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;  /* Vertical scrollbar width */
    height: 10px; /* Horizontal scrollbar height */
  }
  
  /* Scrollbar track (background) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb; /* Light gray */
    border-radius: 10px;
  }
  
  /* Scrollbar thumb (the draggable part) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #3b82f6; /* Tailwind blue-500 */
    border-radius: 10px;
    border: 2px solid white; /* Creates a gap effect */
  }
  
  /* Scrollbar corner when both X & Y scrollbars appear */
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: #e5e7eb;
  }

  .break-anywhere {
    line-break: anywhere;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
  